.toggledivcontainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rebeccapurple;
}
.togglelogo{
    width: 50%;
    padding-left: 2rem;
}
.toggleicon{
    width: 50%;
    padding-right: 1rem;
    text-align: right;

}
.icon{
    font-size: 3rem;
    color: white;
}
.togdiv{
    display: none;
}
@media screen and (max-width:767.20px) {
    .togdiv{
        display: block;
        transition: 2s;
    }
}