.project-section {
    padding-top: 112px;
}

.img-project-1 {
    width: 100%;
    background-image: url(../../assets/digitalclockpro3.jpg) !important;
    background-repeat: no-repeat !important;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-size: cover !important;
    background-position: center !important;
}

.img-project-2 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/texteditor.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.img-project-3 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/myportfolio.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.img-project-4 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/notesapp.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-5 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/unbrew-pro.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-6 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/bmipro1.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-7 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/lodo.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-8 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/todoapp.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-9 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/atm.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-8 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/todoapp.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.img-project-10 {
    width: 100%;
    height: 255px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-image: url(../../assets/lucknogame.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.text {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.text a {
    color: #fff !important;
}

span {
    color: #fff !important;
}

.text:hover {
    background:orangered;
    opacity: 1;
}