.home-section {
    padding-top: 112px;
    
}

.home-img {
    width: 90%;
    height: 600px;
    background-image: url(../../assets/mypic.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0 auto;


}

.text-home .subheading {
    font-weight: 600 !important;
    font-size: 15px !important;
    letter-spacing: 3px !important;
    text-transform: uppercase !important;
    color: #ffbd39 !important;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin:0 auto;
}

.text-home h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
}

.text-home h1 span {
    font-size: 60px;
    color: #ffbd39 !important;
    line-height: 1.2;
    font-weight: 800;
}

.text-home p {
    font-size: 30px !important;
    font-weight: 400 !important;
    color: #fff;
}