.logo {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 11.200px 0;
    margin-right: 16px;
    color: #fff;
}
@media screen and (max-width:767.20px) {
    .navhideshow{
        display: none;
    }
}